.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
  position: relative;
}

#bulbasaur {
  top: 24px;
}

#charmander {
  top: 48px;
}

#squirtle {
  top: 92px;
}

#pikachu {
  top: 128px;
}

#jigglypuff {
  top: 256px;
}
